In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-07-06 03:00:26,-54.8000,-68.3000,24.40,95,88,1.68
1,1,Rikitea,PF,2022-07-06 03:00:35,-23.1203,-134.9692,75.54,78,15,18.79
2,2,Thompson,CA,2022-07-06 03:00:36,55.7435,-97.8558,61.65,38,100,6.22
3,3,Mar Del Plata,AR,2022-07-06 03:00:06,-38.0023,-57.5575,43.95,78,83,9.48
4,4,Halmstad,SE,2022-07-06 03:00:36,56.6745,12.8568,57.40,78,40,9.22

In [2]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [3]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights = clouds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights = wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2022-07-06 03:00:35,-23.1203,-134.9692,75.54,78,15,18.79
5,5,Jamestown,US,2022-07-06 02:56:52,42.0970,-79.2353,75.02,86,100,9.22
9,9,Puerto Ayora,EC,2022-07-06 03:00:38,-0.7393,-90.3518,71.55,88,81,7.00
11,11,Ust-Nera,RU,2022-07-06 03:00:39,64.5667,143.2000,84.58,44,95,6.02
12,12,Avera,US,2022-07-06 03:00:40,33.1940,-82.5271,81.55,73,80,4.92
17,17,Puerto Penasco,MX,2022-07-06 03:00:08,31.3167,-113.5333,82.90,58,0,5.99
18,18,Salalah,OM,2022-07-06 03:00:41,17.0151,54.0924,78.37,92,100,11.68
23,23,Pyu,MM,2022-07-06 03:00:43,18.4833,96.4333,82.18,85,97,6.02
25,25,Lorengau,PG,2022-07-06 03:00:44,-2.0226,147.2712,83.80,73,90,10.80
26,26,Sungaipenuh,ID,2022-07-06 03:00:44,-2.0833,101.3833,75.72,68,93,2.33

In [7]:
preferred_cities_df.count()

City_ID       253
City          253
Country       253
Date          253
Lat           253
Lng           253
Max Temp      253
Humidity      253
Cloudiness    253
Wind Speed    253
dtype: int64

In [8]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1          Rikitea      PF     75.54 -23.1203 -134.9692
5        Jamestown      US     75.02  42.0970  -79.2353
9     Puerto Ayora      EC     71.55  -0.7393  -90.3518
11        Ust-Nera      RU     84.58  64.5667  143.2000
12           Avera      US     81.55  33.1940  -82.5271
17  Puerto Penasco      MX     82.90  31.3167 -113.5333
18         Salalah      OM     78.37  17.0151   54.0924
23             Pyu      MM     82.18  18.4833   96.4333
25        Lorengau      PG     83.80  -2.0226  147.2712
26     Sungaipenuh      ID     75.72  -2.0833  101.3833

In [9]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key


info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,75.54,-23.1203,-134.9692,People ThankYou
5,Jamestown,US,75.02,42.0970,-79.2353,Hampton Inn & Suites Jamestown
9,Puerto Ayora,EC,71.55,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Ust-Nera,RU,84.58,64.5667,143.2000,Hotel Ust-Nera
12,Avera,US,81.55,33.1940,-82.5271,
17,Puerto Penasco,MX,82.90,31.3167,-113.5333,Playa Bonita Resort
18,Salalah,OM,78.37,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
23,Pyu,MM,82.18,18.4833,96.4333,Mr Bo Bo
25,Lorengau,PG,83.80,-2.0226,147.2712,Lorengau Harbourside Hotel
26,Sungaipenuh,ID,75.72,-2.0833,101.3833,Penginapan Citra Alam

In [10]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))